In [136]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('/content/sample_data/Mall_Customers.csv')

In [4]:
from sklearn.preprocessing import StandardScaler
ds=dataset.drop('CustomerID',axis=1)

In [7]:
ds

      Genre  Age  Annual Income (k$)  Spending Score (1-100)
0      Male   19                  15                      39
1      Male   21                  15                      81
2    Female   20                  16                       6
3    Female   23                  16                      77
4    Female   31                  17                      40
..      ...  ...                 ...                     ...
195  Female   35                 120                      79
196  Female   45                 126                      28
197    Male   32                 126                      74
198    Male   32                 137                      18
199    Male   30                 137                      83

[200 rows x 4 columns]

In [9]:
s=StandardScaler()

In [14]:
def conv(c):
  if c=='Male':
    return 1
  else:
    return 0

In [15]:
ds['Genre']=ds['Genre'].apply(conv)

In [16]:
ds

     Genre  Age  Annual Income (k$)  Spending Score (1-100)
0        1   19                  15                      39
1        1   21                  15                      81
2        0   20                  16                       6
3        0   23                  16                      77
4        0   31                  17                      40
..     ...  ...                 ...                     ...
195      0   35                 120                      79
196      0   45                 126                      28
197      1   32                 126                      74
198      1   32                 137                      18
199      1   30                 137                      83

[200 rows x 4 columns]

In [17]:
x=s.fit_transform(ds.drop('Spending Score (1-100)',axis=1))

In [54]:
x=pd.DataFrame(x)

In [55]:
y=ds['Spending Score (1-100)']

In [56]:
from sklearn.model_selection import train_test_split
xtr,xt,ytr,yt=train_test_split(x,y,test_size=0.3,random_state=42)
score=[]

In [57]:
score=[]

In [58]:
from sklearn.neighbors import KNeighborsClassifier

In [72]:
knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(xtr,ytr)
pred1=knn.predict(xt)

In [60]:
from sklearn.metrics import classification_report,accuracy_score
score.append(accuracy_score(yt,pred1))
print(accuracy_score(ytr,knn.predict(xtr)))

0.39285714285714285

In [61]:
score

[0.06666666666666667]

Predicting Gender

In [47]:
ds

     Genre  Age  Annual Income (k$)  Spending Score (1-100)
0        1   19                  15                      39
1        1   21                  15                      81
2        0   20                  16                       6
3        0   23                  16                      77
4        0   31                  17                      40
..     ...  ...                 ...                     ...
195      0   35                 120                      79
196      0   45                 126                      28
197      1   32                 126                      74
198      1   32                 137                      18
199      1   30                 137                      83

[200 rows x 4 columns]

In [63]:
x2=s.fit_transform(ds.drop('Genre',axis=1))
x2=pd.DataFrame(x2)

In [64]:
x

            0         1         2
0    1.128152 -1.424569 -1.738999
1    1.128152 -1.281035 -1.738999
2   -0.886405 -1.352802 -1.700830
3   -0.886405 -1.137502 -1.700830
4   -0.886405 -0.563369 -1.662660
..        ...       ...       ...
195 -0.886405 -0.276302  2.268791
196 -0.886405  0.441365  2.497807
197  1.128152 -0.491602  2.497807
198  1.128152 -0.491602  2.917671
199  1.128152 -0.635135  2.917671

[200 rows x 3 columns]

In [65]:
y2=ds['Genre']
y2

0      1
1      1
2      0
3      0
4      0
      ..
195    0
196    0
197    1
198    1
199    1
Name: Genre, Length: 200, dtype: int64

In [66]:
xtrain,xtest,ytrain,ytest=train_test_split(x2,y2,test_size=0.3,random_state=42)

In [73]:
gender_knn=KNeighborsClassifier(n_neighbors=3)
gender_knn.fit(xtrain,ytrain)
pred_gender=gender_knn.predict(xt)

In [70]:
print(accuracy_score(ytrain,gender_knn.predict(xtrain)))

0.7571428571428571

In [75]:
print(accuracy_score(ytest,pred_gender))

0.5

In [115]:
l=[]

In [116]:
for i in range(1,40):
  knn_i=KNeighborsClassifier(n_neighbors=i)
  knn_i.fit(xtrain,ytrain)
  pred_i=knn_i.predict(xtest)
  l.append(accuracy_score(ytest,pred_i))

In [117]:
l

[0.6,
 0.6,
 0.5333333333333333,
 0.5666666666666667,
 0.5,
 0.6166666666666667,
 0.5666666666666667,
 0.6,
 0.6,
 0.55,
 0.48333333333333334,
 0.6,
 0.5833333333333334,
 0.5833333333333334,
 0.6,
 0.5833333333333334,
 0.6,
 0.6166666666666667,
 0.5666666666666667,
 0.5666666666666667,
 0.5666666666666667,
 0.6,
 0.6,
 0.5666666666666667,
 0.6,
 0.6,
 0.5833333333333334,
 0.5833333333333334,
 0.6166666666666667,
 0.6,
 0.5833333333333334,
 0.6,
 0.5833333333333334,
 0.5833333333333334,
 0.5666666666666667,
 0.6166666666666667,
 0.5833333333333334,
 0.6,
 0.6]

In [118]:
len(l)

39

In [119]:
m=max(l)

In [120]:
for i in range(len(l)):
  if l[i]==m:
    ind=i+1
    break

In [121]:
ind

6

In [122]:
best_knn=KNeighborsClassifier(n_neighbors=ind)
best_knn.fit(xtrain,ytrain)
best_pred=best_knn.predict(xtest)

In [128]:
comparison=[]

In [129]:
comparison.append(accuracy_score(ytest,best_pred))

Naive Bayes

In [125]:
from sklearn.naive_bayes import GaussianNB

In [126]:
nb=GaussianNB()
nb.fit(xtrain,ytrain)
nb_pred=nb.predict(xtest)

In [130]:
comparison.append(accuracy_score(ytest,nb_pred))

In [131]:
comparison

[0.6166666666666667, 0.5833333333333334]

In [135]:
print("The accuracy of 6NN is",comparison[0],"\nThe accuracy of Gaussian Naive Bayes is",comparison[1])

The accuracy of 6NN is 0.6166666666666667
The accuracy of Gaussian Naive Bayes is 0.5833333333333334