In [1]:
import pandas as pd

In [5]:
import matplotlib.pyplot as plt

In [7]:
import nltk

In [11]:
nltk.download_shell()

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> d

Download which package (l=list; x=cancel)?
  Identifier> q

---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> q

In [19]:
import sklearn

In [17]:
import csv
dataset=csv.reader('/content/IMDB Dataset.csv')

In [18]:
dataset

In [20]:
ds=pd.read_csv('/content/IMDB Dataset.csv')

In [21]:
ds

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

SyntaxError: ignored

AttributeError: ignored

In [36]:
scalar=ds.split(x_train,y_train)

AttributeError: ignored