In [89]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [90]:
dataset=pd.read_csv("/content/sample_data/Mall_Customers.csv")

In [91]:
dataset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [92]:
string_to_int=['Genre']
for column in string_to_int:
  
  dataset[column]=dataset[column].replace("Male",0)
  dataset[column]=dataset[column].replace("Female",1)
for column in string_to_int:
  print(dataset[column])

0      0
1      0
2      1
3      1
4      1
      ..
195    1
196    1
197    0
198    0
199    0
Name: Genre, Length: 200, dtype: int64

In [93]:
dataset.head()

   CustomerID  Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1      0   19                  15                      39
1           2      0   21                  15                      81
2           3      1   20                  16                       6
3           4      1   23                  16                      77
4           5      1   31                  17                      40

In [94]:
x=dataset.iloc[:,0:4]
y=dataset.iloc[:,4]

In [95]:
x_train,x_test,y_train,y_test =train_test_split(x,y,random_state=0,test_size=0.2)

In [96]:
Standard_Scaler=StandardScaler()
x_train=Standard_Scaler.fit_transform(x_train)
x_test=Standard_Scaler.transform(x_test)

In [97]:
Standard_Scaler=StandardScaler()
x_train=Standard_Scaler.fit_transform(x_train)
x_test=Standard_Scaler.transform(x_test)

In [133]:
classifier=KNeighborsClassifier()
y_test=KNeighborsClassifier(n_neighbors=11)
x_test=KNeighborsClassifier(y_test)
x_train=KNeighborsClassifier(x_test)
x_train=KNeighborsClassifier(y_test)

In [141]:
y_pred=KNeighborsClassifier(x_train)

In [147]:
print(classification_report(y_test,y_pred))

TypeError: ignored