In [62]:
import numpy as np
import keras
import pandas as pd

from keras.models import Sequential
from keras.optimizers import Adam

In [ ]:
dataset=pd.read_csv('/content/diabetes.csv')

In [ ]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
dataset.shape

(768, 9)

In [49]:
from sklearn.model_selection import train_test_split

In [51]:
x=dataset['Age']
y=dataset['Outcome']

In [56]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=30)
# (x_train,y_train),(x_test,y_test)=train_test_split()

In [58]:
x_train/=255

y_train/=255

In [ ]:
from keras.models import Denss
model=Sequential()
model.add(Dense(64,activation='sigmoid'))

model.add(Dense(64,activation='softmax'))

In [ ]:
model.fit(x_train,y_train)
model.compile(epochs=50)

model.evaluate(Adam)